<div class="signup">
  <h3 class="center-align">Welcome back!</h3>
  <%= form_for(:user) do |f| %>
    <%= f.email_field :email, placeholder: "Enter your email" %>
    <%= f.password_field :password, placeholder: "Enter your password" %>
    <%= f.submit "Login", class: 'signupbtn waves-effect waves-light btn' %>
    <% end %>
</div>