<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="mailto:info@kayakbuddy.com?Subject=Questions"><strong>Email Us!</strong></a></li>
          <li class="grey-text text-lighten-3">Phone: 1-800-555-1234</li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">About Us</h5>
        <ul>
          <div class="about">
            <li class="grey-text text-lighten-3">- We're passionate about our kayaks.</li>
            <li class="grey-text text-lighten-3">- We strive to help you find buddies.</li>
            <li class="grey-text text-lighten-3">- If you're lucky, you might venture with us!</li>
          </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Kayak Buddy
    </div>
  </div>
</footer>