<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">kB</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/groups">Groups</a></li>
      <li><a href="/weather">Weather</a></li>
      <li><a href="/users/:id">Profile</a></li>
      <li><a href="/users/new">Sign Up</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/groups">Groups</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/weather">Weather</a></li>
      <li><a href="/users/new">Sign Up</a></li>
    </ul>
  </div>
</nav>