<h1>Join A Kayak Group</h1>
<p>Find me in app/views/groups/index.html.erb</p>
<div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1436916154952-3aeb6d98001a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=657d89c8d3dd2e6887e9446cd5285bd1" id="pic1"></div>
  </div>
  <div class="section white">
    <div class="row container" id="container1" >
      <h2 class="header">Fishing</h2>
      <br><a class="waves-effect waves-light btn" id="bttn1">Join Fishing Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1456618054495-a9c763090b53?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4632264b9cf3c3a8276f9e41b566f478" id="pic2"></div>
    </div>
    <div class="section white">
    <div class="row container" id="container2">
      <h2 class="header">Camping</h2>
      <br><a class="waves-effect waves-light btn" id="bttn2">Join Camping Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1444124818704-4d89a495bbae?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=36a20f847dbcc9308e4907287a57dcf4" id="pic3"></div>
    </div>
    <div class="section white">
    <div class="row container" id="container3">
      <h2 class="header">Rapids</h2>
      <br><a class="waves-effect waves-light btn" id="bttn3">Join Rapids Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1453824288474-7705273735fc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=7b407895aee9f1751e88622b7a7190c7" id="pic4"></div>
    </div>
    <div class="section white">
    <div class="row container" id="container3">
      <h2 class="header">Recreational</h2>
      <br><a class="waves-effect waves-light btn" id="bttn4">Join Recreational Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1465310477141-6fb93167a273?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9a28273351ef9abe74d9ce67a1a9f423" id="pic5"></div>
    </div>
    <div class="section white">
    <div class="row container" id="container4">
      <h2 class="header">Lake</h2>
      <br><a class="waves-effect waves-light btn" id="bttn5">Join Lake Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1458571037713-913d8b481dc6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ea44e41f0b18d77930e5b15992a5cc15" id="pic6"></div>
    </div>
    <div class="section white">
    <div class="row container" id="container5">
      <h2 class="header">Ocean</h2>
      <br><a class="waves-effect waves-light btn" id="bttn6">Join Ocean Group</a>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.CLICK TO JOIN GROUP</p>
    </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/photo-1466751328655-2ec0802723f9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6a4fb5c75226748f07c32e8e23b7839f" id="pic6"></div>
    </div>


  </div>
      