<h1>Lakes Group</h1>
<p>Find me in app/views/groups/lakes.html.erb</p>
<img src="https://images.unsplash.com/photo-1468549940493-46152524296c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=22fd0ceed4703bb1404e4f447d921041" id="lakepic">