<h1> OCEAN </h1>

<div class="parallax"><%= image_tag "pic7.jpeg", class: "pic" %></div>

<h1> Ocean Group </h1>


<%= form_tag('/groups/ocean', class:"waves-effect waves-light btn") %>
  
<%= hidden_field_tag 'user_id', 'current_user.id' %>

<%= submit_tag ('Join Ocean Group'), data: { confirm: 'You are now apart of the Ocean Group' } %>