
<div class="parallax"><%= image_tag "pic4.jpeg", class: "pic" %></div>

<h1> Rapids Group </h1>


<%= form_tag('/groups/rapids', class:"waves-effect waves-light btn") %>
  
<%= hidden_field_tag 'user_id', 'current_user.id' %>

<%= submit_tag ('Join Rapids Group'), data: { confirm: 'You are now apart of the Rapids Group' } %>


