

<div class="parallax"><%= image_tag "pic5.jpeg", class: "pic" %></div>

<h1> Recreational Group </h1>

<%= form_tag('/groups/recreational', class:"waves-effect waves-light btn") %>
  
<%= hidden_field_tag 'user_id', 'current_user.id' %>

<%= submit_tag ('Join Recreational Group'), data: { confirm: 'You are now apart of the Recreational Group' } %>