// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "materialize";

body {
  text-align: left;
}

.send-msg {
  // @extend .blue, .darken-2;
  margin-top: 40px;
}

.btn, .btn-large {
  background-color: #067BC2 !important;
}

.user-show-btn {
}

.fbdiv {
  width: 50%;
  margin: 0 auto;
}
.facebook-btn {
  padding: 30px 0px;
}

.signupbtn {
  margin-top: 20px;
  margin-bottom: 40px;
}

.user-img {
  // height: 250px;
  // width: 250px;
  // margin-left: 100px;
  // display: inline-block;
  float: left;
}


.user-ctn {
  display: inline-block;
}

.user-info {
  padding-left: 20px;
}

.user-show-ctn {
  position: absolute;
}

.user-show-img {
  position: relative;
  top: 20px;
  // left: -75px;
}

.user-name {
  position: relative;
  display: inline-block;
  // margin-left: -60px;
  margin-left: 40px;
}

.user-show-btn {
  // margin-top: 30px;
  position: relative;
  display: inline-block;
  margin-left: 40px;
  top: -10px;
}

.input-field {
  margin-bottom: 45px;
}